body{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}
.container-nobackground{ 
    width: auto;
}
.top{
    border-bottom: 1px solid #B1B1B2;
    background: #FBFBFA;
    min-height: 40px;
    display: flex;
    justify-content: space-around;
}
.top-left{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #777;
    font-size: 14px;
    line-height: 20px;
    width: auto;
    margin: 5px;
    padding-right: 5px;
    padding-left: 5px;
    display: flex;
}
.top-right{
    padding-top: 6px;
    padding-left: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #777;
    font-size: 14px;
    line-height: 20px;
    width: auto;
    margin: 5px;
    padding-right: 5px;
    padding-left: 5px;
    display: flex;
}
.buttom-top-right{
    padding-right: 5px;
    padding-left: 5px;
}
.buttom-top-right:hover{
    color: #85b7c0;
}
.all-main-nenu{
    position:absolute;
    height: auto;
}
.main-menu{
    background-color: #62b5d2;
    color: #ffffff;
    font-size: 20px; /*размер шрифт*/
    height: 60px; /*высота*/
    width: auto; /*ширина*/
    display: block;
  
    
    
}
.margin{
    margin: auto;
    max-width: 1024px;
      
}
.border-margin{
    max-width: 760px;
    display: flex;
    justify-content: space-between;
    margin: 20px 80px
}
.sections{
    width: 180px;
    text-align: center;
    height: 60px;
}
.sections:hover{
    background: #fa8af1;
}
.sections-hover{
margin: 20px 0px;
text-align: center;
}
a{
    border: none;
    color: white;
    text-decoration: none;
}
.cpotainer{
    display: flex;
}
.product-cards{
    width: 1100px;
    display: flex;
    flex-wrap: wrap;
}
.cpotainer-margin{
    display: flex;
}
.according{
    list-style-type: none;
    margin:0px;
    padding:0px;
}
.hover-cat{
    border-right: none;
    margin-bottom: 35px;
}
.hover-cat:hover{
    color: #85b7c0;
}

.product-cards{
    width: 1100px;
    
}
.cards-wrapper{
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px    ;
}
.product-grid{
    /* float: left; */
    /* background: rgb(48, 139, 161); */
    border-right: none;
    margin-bottom: 35px;
    width: 200px;
    height: 350px;
    border: 1px solid #9EAAAC;
    border-radius: 20px;
    margin-left:9px;
    display: flex;
    flex-wrap: wrap;

}
.pic-border-r{
    border-radius: 20px 20px 0px 0px;
    width: 200px;
    height: 170px;
}
.name-product{
    font-size: 16px;
    color: #252323;
    text-align: center;
    font-weight: 900;
}
.price-product{
    font-size: 25px;
    color: #000000;
    text-align: center;
    font-weight: 900;
}
.all-discrip-text-product{
    background-color: #cfd1d1;
    margin: 4px 6px 4px 12px;
    width: 170px;
}
.text-product{
    font-size: 14px;
}
.container-buttom{
    display: flex;
    justify-content: center;
}
.button{
    background-color: #631a1a;
    width: 100px;
    height: 20px;
    border-radius: 50px; 
    margin: 12px;  
    text-align: center;
    color: #ffffff
}

FOOTER
.footer{
    padding: 30px 0px 0px 0px;
    background-color: #272727;
    border: 0;
    margin: 0;
}
.all-cotainer-footer{
    background-color: #272727;
    color: #ffffff;
    font-size: 10px;
    display: flex;
    justify-content: center;
    margin: 0px;
}
.container-footer{
    height: 477px;
    width: auto;
    display: flex;
    margin: 20px;
}
.con-foot-1{
    width: 370px;
    display: inline-block;

}
.heading-foot{
    font-weight: bold;
}
.ul-con-toot-2{
    list-style-type: none;
    margin:0px;
    padding:0px;
    padding-left: 0;
}
.l-con-toot-2-hover:hover{
    color: #85b7c0;
}
.con-foot-2{
    padding: 0px 15px 10px 15px;
}


/* toppings */

.cards-wrapper-diettopping{
    display: flex;
    margin: 12px 0px;
    flex-wrap: wrap;
    width: 1224px;
}
.cards-wrapper-topping{
    display: flex;
    margin: 12px 0px;
    flex-wrap: wrap;
    width: 1224px;
}
.topping-grid{
    border-right: none;
    width: 345px;
    height: 538px;
    border: 1px solid #9EAAAC;
    margin: 15px 0px 10px 9px;

    display: flex;
    flex-wrap: wrap;
}
.container-topping{
    display: flex;
}
.name-topping{
    text-align: center;
    color: #252323;
    font-weight: 900;
    font-size: 20px;
}
.text-topping{
    margin: 10px 5px;
    font-size: 14px;
    color: #292929;
}
.structure-topping{
    color: #292929;
    margin: 10px 5px;
    font-size: 12px;

}
.pic-border-topping{
    width: 345px;
    height: 345px;
}
.name-topping-cards{
    margin: 30px 0px 10px 11px;
    border: 1px solid #9EAAAC;
    color: #5e5c5c;
    font-weight: 700;
    font-size: 27px;
    width: 1057px;
    

}