<!DOCTYPE html>

<html>

<head>
    <link href="stayl.css" rel="stylesheet">
    <!-- <script src="https://kit.fontawesome.com/a076d05399.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="datass.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Каталог товаров</title>
</head>

<body>
<div class="scroll-fix"></div>

    <div class="container-nobackground">
        <div class="fixed-part">
            <nav>
                <div class="top">
                    <div class="top-left">г. Ростов-на-Дону</div>
                    <div class="top-right">
                        <div class="buttom-top-right">Вакансии</div>
                        <div class="buttom-top-right">Доставка</div>
                        <div class="buttom-top-right">FAQ</div>
                        <div class="buttom-top-right">Отзывы о магазине</div>
                        <div class="buttom-top-right">Цены</div>
                        <div class="buttom-top-right">Оплата</div>
                        <div class="buttom-top-right">Контакты</div>
                    </div>
                </div>
            </nav>
            <div class="header-menu">
                <div class="header">
                    <div class="border-header">
                        <div class="sections">
                            <a href="main.html"><div class="sections-hover">Главная</div></a>
                            <a href="catalog.html"><div class="sections-hover">Коталог товаров</div> </a>
                            <a href="info.html"><div class="sections-hover">О нас</div></a>
                            <a href="toppings.html"><div class="sections-hover">Начинки</div></a>
                        </div> 

                    </div>
                </div>
            </div>
        </div>
        <div class="main-top">
            <div class="main-logo">
                <a href="main.html"><img class="main-pic" src="images/main/logo-new.png"></a>
            </div>
            <div class="main-centr">
                <div class="phone-number">
                    <div class="main-number">+7 (988) 258-98-11
                    </div>
                    <div class="call-order">Заказать звонок
                    </div>
                </div>
                <div class="main-search-line main-imput-line">
                    <input type="text" placeholder=" " class="text-placeholder">
                    <button class="button-placeholder">Поиск</button>
                </div>
            </div>
            <a class="basket-color" href="ordering.html">
                <div class="main-top-right">
                    <img class="main-right-pic" src="images/main/korzina_cool.png">
                    <div class="basket">Корзина</div>
                </div>
            </a>
        </div>
    </div>

    </div>
    <!-- <div class="all_main-nenu"></div> -->


    </div>
    <div class="cpotainer-margin">
        <div class="cpotainer header">

            <div class="box">
                <div class="sing-info">
                    <div class="sing-body">
                        <div class="heading-sing">Всё включено</div>
                        <div class="text-sing">В цену торта уже включено оформление и фигурки!</div>
                        <!-- <img class="" src="images/main/g001.jpg"> -->
                    </div>
                </div>
                <div class="box-heding">
                    <h1 class="h1">Категории</h1>
                </div>
                <div class="box-content">
                    <div class="box-category">
                        <div class="box-category">
                            <ul class="according">
                                <li class="Cat-lis">
                                    <div class="hover-cat">Детские торты</div>
                                </li>
                                <li class="Cat-lis-li">
                                    <div class="hover-cat">Свадебные торты</div>
                                </li>
                                <li>
                                <li class="Cat-lis-li">
                                    <div class="hover-cat">Празднечные торты</div>
                                </li>
                                <li>
                                    <div class="hover-cat">На день рождения</div>
                                </li>
                                <li>
                                    <div class="hover-cat">Фототорты</div>
                                </li>
                                <li>
                                    <div class="hover-cat">Корпоротивные торты</div>
                                </li>
                                <li class="Cat-lis-li">
                                    <div class="hover-cat">Торты для родственников</div>
                                </li>
                                <li>
                                    <div class="hover-cat">Диетические торты</div>
                                </li>
                                <li>
                                    <div class="hover-cat">Новогодние торты</div>
                                </li>
                                <li>
                                    <div class="hover-cat">Торт для женщины</div>
                                </li>
                                <li>
                                    <div class="hover-cat">Торт для мужчины</div>
                                </li>
                                <li>
                                    <div class="hover-cat">Торт на юбилей</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="product-cards">
                <div class="sorting">
                    <div class="sort-by">Сортировать по:</div>
                    <div class="sorting-sections" id="testButtons">
                        <div class="sort-prices sort">
                            <div class="prise-sort-min-max" id="price">Цена</div>
                            </div>
                        <div class="sort-prices sort" >
                            <div class="weight-sort-min-max" id="weight">Вес</div>
                        </div>
                        <div class="sort-prices sort">
                        <div class="wiews-sort-min-max" id="wiews">Популярность</div>
                    </div>
                        
                    </div>
                </div>
                <div class="cards-wrapper popup-open" href="#"></div>
            </div>
        </div>
    </div>
    <div id="wrapper">
        <p><button id="checkout">Оформить заказ</button> &nbsp; <button id="clear_cart">Очистить корзину</button></p>
        <div id="cart_content"></div>
        </div>
    <footer>
        <img class="povarimg" src="images/main/povar.png" alt="">
        <div class="foot-form">
            <!-- <img class="povarimg" src="images/main/povar.png" alt=""> -->
            <div class="ff-con">
                <div class="header-ff">
                    У Вас есть вопросы?
                </div>
                <div class="text-ff">
                    Отправьте нам заявку и наш специалист свяжется с Вами!
                </div>
                <div class="forma-ff">
                    <span>
                        <input type="email" placeholder="Ваше имя" class="main-imput-mail">
                        <input type="email" placeholder="Номер телефона" class="main-imput-mail">
                    </span>
                </div>
            </div>
    
        </div>
        <div class="pod-povar">
        </div>
    </footer>

    <script src="script.js"></script>
    <script src="sort.js"></script>
    <script src="testjs.js"></script>
<!-- модальные окна -->
<div class="hystmodal " id="myModal">
    <div class="popup-fade modal-layer">
        <div class="modal-content">
            <div class="modal-text modal-alignment">   
                <div class="popup"><button data-hystclose class="popup-close">закрыть</button>  
                    <h1>Заголовок</h1>
                    <p>Текст</p>
                    <img src="images/bush.png" alt="Изображение" width="400" >
                    <p>Ещё текст</p>
                    <button class="add_item" data-id="5">Добавить в корзину</button>
                </div>
            </div>
        </div>
            
    </div>
</div>
<div class="search-bar-modal">
    <div>
        <div>
        </div>
    </div>
</div>
<!-- модальные окна -->
</body>

</html>