<!DOCTYPE html>

<html>

<head>
    <link href="stayl.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

    <title>О нас</title>
</head>

<body>
    <div class="container-nobackground">
        <div class="fixed-part">
            <nav>
                <div class="top">
                    <div class="top-left">г. Ростов-на-Дону</div>
                    <div class="top-right">
                        <div class="buttom-top-right">Вакансии</div>
                        <div class="buttom-top-right">Доставка</div>
                        <div class="buttom-top-right">FAQ</div>
                        <div class="buttom-top-right">Отзывы о магазине</div>
                        <div class="buttom-top-right">Цены</div>
                        <div class="buttom-top-right">Оплата</div>
                        <div class="buttom-top-right">Контакты</div>
                    </div>
                </div>
            </nav>
            <div class="header-menu">
                <div class="header">
                    <div class="border-header">
                        <div class="sections">
                            <a href="main.html"><div class="sections-hover">Главная</div></a>
                            <a href="catalog.html"><div class="sections-hover">Коталог товаров</div> </a>
                            <a href="info.html"><div class="sections-hover">О нас</div></a>
                            <a href="toppings.html"><div class="sections-hover">Начинки</div></a>
                        </div> 

                    </div>
                </div>
            </div>
        </div>
        <div class="main-top">
            <div class="main-logo">
                <a href="main.html"><img class="main-pic" src="images/main/logo-new.png"></a>
            </div>
            <div class="main-centr">
                <div class="phone-number">
                    <div class="main-number">+7 (988) 258-98-11
                    </div>
                    <div class="call-order">Заказать звонок
                    </div>
                </div>
                <div class="main-search-line">
                    <input type="text" placeholder="Поиск" class="main-imput-line">
                </div>
            </div>
            <a class="basket-color" href="ordering.html">
                <div class="main-top-right">
                    <img class="main-right-pic" src="images/main/korzina_cool.png">
                    <div class="basket">Корзина</div>
                </div>
            </a>
        </div>
    </div>

    </div>
    </div>
    <div>
        <div class="container-info">
            <div class="info">О нас</div>
            <div class="history-title">Наша история</div>
            <div class="history">Декабрь 2010 года - выход на рынок.</div>
            <div class="history">Февраль 2017 года - более 4 000 новых тортов.</div>
            <div class="history">Октябрь 2018 года - новое производство по новой технологии.</div>
            <div class="history">Ноябрь 2018 года - начало производства зеркальных тортов.</div>
            <div class="history">Январь 2019 года - внедрение современных технологий по производству тортов.</div>
            <div class="history">Январь 2021 года - новый сайт.</div>
            <div class="history-title">Наши преимущества</div>
        </div>
        <div class="container-info">
            <div class="info-carts"></div>
        </div>
        <div class="container-info">
            <div class="history-title">Социальная программа</div>
            <div class="history">Каждую неделю мы разыгрываем бесплатный торт, а так же возим торты в детские дома и в
                малоимущие семьи. Мы участвуем в выставках и на различных мероприятиях. Дарим торты известным личностям
                и награждаем победителей конкурсов. Если вы хотите получить бесплатный торт, напишите нам на почту
                corp@lebortiani.net

            </div>
        </div>
        <div class="container-info">
            <div class="history-title">Политика конфиденциальности</div>
            <div class="history">Мы очень серьезно подходим к защите Ваших персональных данных. Сбор личных данных
                происходит только в объеме, необходимом для технической обработки. Продажа собранных данных или их
                передача третьим лицам абсолютно исключена.</div>
        </div>
        <div class="container-info">
            <div class="history-title">Юридическая информация:</div>
            <div class="history">
                <div class="history">ИНН: 770400947400</div>
                <div class="history">ОГРНИП: 318774600524250</div>
                <div class="history">Расчетный счет: 40802810700000753249</div>
                <div class="history">Банк: АО «Тинькофф Банк»</div>
                <div class="history">Юридический адрес банка: Москва, 123060, 1-й Волоколамский проезд, д. 10, стр. 1
                </div>
                <div class="history">Корр. счет банка: 30101810145250000974</div>
                <div class="history">ИНН банка: 7710140679</div>
                <div class="history">Расчетный счет: 40802810700000753249</div>
                <div class="history">БИК банка: 044525974</div>
            </div>
        </div>
        <div class="container-info flexon">
            <div class="line-info-footnote">

            </div>
            <blockquote class="info-footnote">
                Обращаем ваше внимание на то, что наша продукция является продуктом питания. Продукты питания
                надлежащего качества обмену или возврату не подлежат.
            </blockquote>

        </div>
        <div class="container-info">
            <div class="history">
                Гарантийный период – это срок, во время которого клиент, обнаружив недостаток товара имеет право
                потребовать от продавца или изготовителя принять меры по устранению дефекта. Продавец должен устранить
                недостатки, если не будет доказано, что они возникли вследствие нарушений покупателем правил
                эксплуатации.
            </div>
        </div>

    </div>

    <footer>
        <div>
            <div class="all-cotainer-footer">
                <div class="container-footer">
                    <div class="con-foot-1">
                        <div class="heading-foot">О нашем магазине</div>
                        <div class="text-con-toot-1">
                            <p>
                                Торты на заказ любой сложности. Никакого обмана: фигурки и оформление уже
                                включены в
                                стоимость. Наши торты выполнены только из натуральных компонентов, поэтому вы
                                можете
                                быть уверены - у ваших деток не будет аллергии. Мы ежедневно доставляем более
                                150
                                тортов на заказ. Наша продукция
                                имеет сертификаты качества. Купить торт на заказ можно в 2 клика, просто введя
                                имя и
                                телефон.</p>
                        </div>
                    </div>
                    <div class="con-foot-2">
                        <div class="heading-foot">Дополнительно</div>
                        <ul class="ul-con-toot-2">
                            <li>
                                <div class="l-con-toot-2-hover">Подарочные сертификаты</div>
                            </li>
                            <li>
                                <div class="l-con-toot-2-hover">Партнёры</div>
                            </li>
                            <li>
                                <div class="l-con-toot-2-hover">Карта сайта</div>
                            </li>
                        </ul>
                    </div>
                    <div class="con-foot-2">
                        <div class="heading-foot">Личный кабинет</div>
                        <ul class="ul-con-toot-2">
                            <li>
                                <div class="l-con-toot-2-hover">Личный кабинет</div>
                            </li>
                            <li>
                                <div class="l-con-toot-2-hover">История заказов</div>
                            </li>
                            <li>
                                <div class="l-con-toot-2-hover">Мои заказы</div>
                            </li>
                            <li>
                                <div class="l-con-toot-2-hover">Рассылка новостей</div>
                            </li>
                            <li>
                                <div class="l-con-toot-2-hover">возврат товара</div>
                            </li>
                        </ul>
                    </div>
                    <div class="con-foot-2">
                        <div class="heading-foot">Рассылка</div>
                        <div>Будьте в курсе наших акций и новостей</div>
                        <span class="mail-letters">
                            <input type="email" placeholder="введите ваш e-mail" class="imput-mail">
                            <span class="span-button-mail">
                                <button class="buttton-mail">
                                    <div class="text-button-mail">ПОДПИСАТЬСЯ</div>
                                </button>
                            </span>
                        </span>
                        <!-- <div class="style-social-mail">
                        <i class="fab fa-odnoklassniki-square fa-2x"></i>
                        <i class="fab fa-facebook-square fa-2x"></i>
                        <i class="fab fa-facebook-square fa-2x"></i>
                    </div> -->


                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="scriptInfo.js"></script>
</body>