<!DOCTYPE html>
<html lang="en">

<head>
    <link href="stayl.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Корзина</title>
</head>


<body>
    <div class="container-nobackground">
        <div class="fixed-part">
            <nav>
                <div class="top">
                    <div class="top-left">г. Ростов-на-Дону</div>
                    <div class="top-right">
                        <div class="buttom-top-right">Вакансии</div>
                        <div class="buttom-top-right">Доставка</div>
                        <div class="buttom-top-right">FAQ</div>
                        <div class="buttom-top-right">Отзывы о магазине</div>
                        <div class="buttom-top-right">Цены</div>
                        <div class="buttom-top-right">Оплата</div>
                        <div class="buttom-top-right">Контакты</div>
                    </div>
                </div>
            </nav>
            <div class="header-menu">
                <div class="header">
                    <div class="border-header">
                        <div class="sections">
                            <a href="main.html"><div class="sections-hover">Главная</div></a>
                            <a href="projekt0.1.html"><div class="sections-hover">Коталог товаров</div> </a>
                            <a href="info.html"><div class="sections-hover">О нас</div></a>
                            <a href="toppings.html"><div class="sections-hover">Начинки</div></a>
                        </div> 

                    </div>
                </div>
            </div>
        </div>
        <div class="main-top">
            <div class="main-logo">
                <a href="main.html"><img class="main-pic" src="images/main/logo-new.png"></a>
            </div>
            <div class="main-centr">
                <div class="phone-number">
                    <div class="main-number">+7 (988) 258-98-11
                    </div>
                    <div class="call-order">Заказать звонок
                    </div>
                </div>
                <div class="main-search-line">
                    <input type="text" placeholder="Поиск" class="main-imput-line">
                </div>
            </div>
            <a class="basket-color" href="ordering.html">
                <div class="main-top-right">
                    <img class="main-right-pic" src="images/main/korzina_cool.png">
                    <div class="basket">Корзина</div>
                </div>
            </a>
        </div>
    </div>
    </div>
    <div class="container">
        <div class="top-container">
            <div class="ordering">Оформление заказа</div>
            <div class="basket-container">
                <div class="checkout-inf-backet">
                    <div class="checkout-heding">
                        <span>Покупатель</span>
                    </div>
                    <div class="checkout-block-content">
                        <div class="form-group">
                            <div class="control-label">Email</div>
                            <div class="input-line">
                                <input type="email" class="input-backet">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="control-label">Имя</div>
                            <div class="input-line">
                                <input type="text" class="input-backet">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="control-label">Телефон</div>
                            <div class="input-line">
                                <input type="text" class="input-backet">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="left-column">
                    <div class="checkout-heding"><span>Способ доставки</span></div>
                    <div class="checkout-block-content">
                        <div class="radio">
                        </div>
                        <div class="radio">
                            <input type="radio" checked="checked">
                            <span class="checkmark">Доставка к точному времени - 1 300 р.</span>
                        </div>

                        <div class="radio">

                            <input type="radio">
                            <span class="checkmark">Доставка +100 км от от города - 1 800 р.</span>
                        </div>

                        <div class="radio">

                            <input type="radio">
                            <span class="checkmark">Доставка от 7 кг. до 20 км от от города - 1 000 р.</span>
                        </div>

                        <div class="radio">

                            <input type="radio">
                            <span class="checkmark">Доставка +20 км от от города - 650 р.</span>
                        </div>
                        <div class="radio">

                            <input type="radio">
                            <span class="checkmark">Доставка по городу - 0 р.</span>
                        </div>


                    </div>
                </div>
                <div class="basket-list">
                    <div class="table-responsive">
                        <table class="basket-checkout">
                            <thead class="table-head">
                                <tr>
                                    <th class="image"> Фото</th>
                                    <th class="name">Наименование товара</th>
                                    <th class="quantity">Вес (кг)</th>
                                    <th class="price">Цена за кг (шт)</th>
                                    <th class="total">Итог</th>
                                    <th class="remove"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <img class="image-tab" src="images/img-proj/untitled-2259.jpg" alt="">
                                    </td>
                                    <td>
                                        <div class="name-tab tab-item">Торт ягодный шик</div>
                                    </td>
                                    <td>
                                        <div class="name-tab tab-item">
                                            1
                                        </div>
                                    </td>
                                    <td>
                                        <div class="name-tab tab-item">
                                            1 433
                                        </div>
                                    </td>
                                    <td>
                                        <div class="name-tab tab-item">
                                            1 433
                                        </div>
                                    </td>
                                    <td>
                                        <div class="tab-item">
                                            <button class="butt-tab">
                                                Убрать
                                            </button>
                                        </div>

                                    </td>

                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td>
                                        <img class="image-tab" src="images/img-proj/id100550.jpg" alt="">
                                    </td>
                                    <td>
                                        <div class="name-tab tab-item">Торт Ягоды и белый шоколад</div>
                                    </td>
                                    <td>
                                        <div class="name-tab tab-item">
                                            4
                                        </div>
                                    </td>
                                    <td>
                                        <div class="name-tab tab-item">
                                            1 460
                                        </div>
                                    </td>
                                    <td>
                                        <div class="name-tab tab-item">
                                            5 840
                                        </div>
                                    </td>
                                    <td>
                                        <div class="tab-item">
                                            <button class="butt-tab">
                                                Убрать
                                            </button>
                                        </div>

                                    </td>

                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td class="tab-itog colsnap=" 6">
                                        <div class="tab-itog">

                                        </div>

                                    </td>
                                    <td class="tab-itog colsnap=" 6">
                                        <div class="tab-itog">

                                        </div>

                                    </td>
                                    <td class="tab-itog colsnap=" 6">
                                        <div class="tab-itog">

                                        </div>

                                    </td>
                                    <td class="tab-itog colsnap=" 6">
                                        <div class="tab-itog">

                                        </div>

                                    </td>
                                    <td class="tab-itog tab-item" colsnap=" 6">
                                        <div class="tab-itog">
                                            ИТОГ: 7273
                                        </div>

                                    </td>
                                    <td>
                                        <div class="tab-item">
                                            <button class="butt-tab-itog">
                                                Заказать
                                            </button>
                                        </div>

                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <footer>
        <img class="povarimg" src="images/main/povar.png" alt="">
        <div class="foot-form">
            <!-- <img class="povarimg" src="images/main/povar.png" alt=""> -->
            <div class="ff-con">
                <div class="header-ff">
                    У Вас есть вопросы?
                </div>
                <div class="text-ff">
                    Отправьте нам заявку и наш специалист свяжется с Вами!
                </div>
                <div class="forma-ff">
                    <span>
                        <input type="email" placeholder="Ваше имя" class="main-imput-mail">
                        <input type="email" placeholder="Номер телефона" class="main-imput-mail">
                    </span>
                </div>
            </div>
    
        </div>
        <div class="pod-povar">
        </div>
    </footer>
</body>

</html>