<!DOCTYPE html>

<html>

<head>
    <link href="stayl.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

    <title>Начинки</title>
</head>

<body>
    <div class="container-nobackground">
        <div class="fixed-part">
            <nav>
                <div class="top">
                    <div class="top-left">г. Ростов-на-Дону</div>
                    <div class="top-right">
                        <div class="buttom-top-right">Вакансии</div>
                        <div class="buttom-top-right">Доставка</div>
                        <div class="buttom-top-right">FAQ</div>
                        <div class="buttom-top-right">Отзывы о магазине</div>
                        <div class="buttom-top-right">Цены</div>
                        <div class="buttom-top-right">Оплата</div>
                        <div class="buttom-top-right">Контакты</div>
                    </div>
                </div>
            </nav>
            <div class="header-menu">
                <div class="header">
                    <div class="border-header">
                        <div class="sections">
                            <a href="main.html"><div class="sections-hover">Главная</div></a>
                            <a href="catalog.html"><div class="sections-hover">Коталог товаров</div> </a>
                            <a href="info.html"><div class="sections-hover">О нас</div></a>
                            <a href="toppings.html"><div class="sections-hover">Начинки</div></a>
                        </div> 

                    </div>
                </div>
            </div>
        </div>
        <div class="main-top">
            <div class="main-logo">
                <a href="main.html"><img class="main-pic" src="images/main/logo-new.png"></a>
            </div>
            <div class="main-centr">
                <div class="phone-number">
                    <div class="main-number">+7 (988) 258-98-11
                    </div>
                    <div class="call-order">Заказать звонок
                    </div>
                </div>
                <div class="main-search-line">
                    <input type="text" placeholder="Поиск" class="main-imput-line">
                </div>
            </div>
            <a class="basket-color" href="ordering.html">
                <div class="main-top-right">
                    <img class="main-right-pic" src="images/main/korzina_cool.png">
                    <div class="basket">Корзина</div>
                </div>
            </a>
        </div>
    </div>

    </div>
    </div>
    <div class="container-topping">
        <div class="topping-cards">
            <div class="name-topping-cards">Диетические начинки</div>
            <div class="cards-wrapper-diettopping"></div>
            <div class="name-topping-cards">Начинки бисквитные</div>
            <div class="cards-wrapper-topping"></div>
            
        </div>
    </div>



    <div>

    </div>
    </div>
    <footer>
        <img class="povarimg" src="images/main/povar.png" alt="">
        <div class="foot-form">
            <!-- <img class="povarimg" src="images/main/povar.png" alt=""> -->
            <div class="ff-con">
                <div class="header-ff">
                    У Вас есть вопросы?
                </div>
                <div class="text-ff">
                    Отправьте нам заявку и наш специалист свяжется с Вами!
                </div>
                <div class="forma-ff">
                    <span>
                        <input type="email" placeholder="Ваше имя" class="main-imput-mail">
                        <input type="email" placeholder="Номер телефона" class="main-imput-mail">
                    </span>
                </div>
            </div>
    
        </div>
        <div class="pod-povar">
        </div>
    </footer>
    <!-- <link rel="stylesheet" href="script_topping.js"> -->
    <script src="scriptTopping.js"></script>
    <script src="datass.js"></script>


</body>

</html>